<!DOCTYPE html>
<html>

<head th:replace="common/ad_layout::headAdmin">
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	
	<div class="body-wrapper">
		<!-- partial:../../partials/_sidebar.html -->
		<aside th:replace="common/ad_layout::asideAdmin">
		</aside>
		<!-- partial -->
		<div class="main-wrapper mdc-drawer-app-content">
			<!-- partial:../../partials/_navbar.html -->
			<header th:replace="common/ad_layout::headerAdmin">
			</header>
			<!-- partial -->
			<div class="page-wrapper mdc-toolbar-fixed-adjust">
				<main class="content-wrapper">
					
				</main>
				<!-- partial:../../partials/_footer.html -->
				<footer th:replace="common/ad_layout::footerAdmin">
				</footer>
				<!-- partial -->
			</div>
		</div>
	</div>
</body>

</html>